[Desktop Entry]
Type=Application
Exec=/usr/bin/1password
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=1 Password
Name=1 Password
Comment[en_US]=Start 1Password password manager on boot
Comment=Start 1Password password manager on boot