# Initiator is always local
INITIATOR_SYNC_DIR="{{ ansible_user_dir }}/Documents"

# Target is remote
TARGET_SYNC_DIR="ssh://{{ sync_target_user }}@{{ sync_target_host }}/srv/NAS/hermann/osync/Documents"

# Use default ssh key
RSYNC_EXCLUDE="{{ ansible_user_dir }}/.config/osync/exclude.list"
CONFLICT_BACKUP_DAYS=7
SOFT_DELETE_DAYS=7
PRESERVE_ACL=no
PRESERVE_XATTR=no
MINIMUM_SPACE=0
REMOTE_HOST_PING=no
SUDO_EXEC=false
