#!/usr/bin/env bash
set -euo pipefail

SRC="{{ ansible_env.HOME }}"
DEST="{{ backup_dest_user }}@{{ backup_dest_host }}:{{ backup_dest_path }}"
SSH_OPTS="-i {{ ssh_key_path }} -o IdentitiesOnly=yes -o IdentityAgent=none -o BatchMode=yes"

RSYNC_OPTS=( -av --delete --rsync-path="mkdir -p {{ backup_dest_path }} && rsync" --exclude-from="$SRC/.rsync-ignore" -e "ssh $SSH_OPTS" )

rsync "${RSYNC_OPTS[@]}" "$SRC/" "$DEST/"
